In [2]:
a=10
type(a)

int

In [4]:
a=2.0
type(a)

float

In [5]:
a=1+2j
type(a)

complex

In [6]:
a=True
type(a)

bool

In [8]:
#str type
s1="python"
s1

'python'

In [10]:
s1='python'
s1

'python'

In [15]:
# to use """" or ''' for multi line string literals 
s1="""python
practise"""
s1

'python\npractise'

In [17]:
#Indexing is 0,1,3.. from LEFT to RIGHT
#Indexing is -1,-2,-3... from RIGHT to LEFT
s="python"
s[0]

'p'

In [18]:
s[-1]

'n'

In [19]:
s[3]

'h'

In [20]:
s[-3]

'h'

In [ ]:
#convert one value to another is call type casting.
#Following inbuilt functions are used for type casting int(),float(), bool(), complex(),str()

In [1]:
#LIST
#Blank List 
List = []
print("Initial Blank list:")
print(List)

Initial Blank list:
[]

In [4]:
#Creating a list with multipe values
List = [1,2,3,3,'d','b','s']
print(List)

[1, 2, 3, 3, 'd', 'b', 's']

In [7]:
List[6]

's'

In [8]:
#Creating a multi dimensional list-nested list
List = [['Python',1],['Practise']]
List

[['Python', 1], ['Practise']]

In [2]:
List = [1,2,3,3,'d','b','s']
List.append('v')
List

[1, 2, 3, 3, 'd', 'b', 's', 'v']

In [7]:
#Adding elements to the list using iterator

for i in range(1,4):
    List.append(i)
    print(i)

1
2
3

In [8]:
a=list(range(20))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [9]:
List=[2,1,3,4,0]
List

[2, 1, 3, 4, 0]

In [46]:
#print random elements from the list

import random

List=[8,2,3,4,5,6,3]

n=3

print(random.sample(List, n)) #using sample()

#using choice printing random elements in a list 
for i in range(n):
    print(random.choice(List),end=" ")

[8, 3, 6]
2 4 4

In [3]:
#to check if the list contains three consecutive common numbers in Python

list1=[4, 5, 5, 5, 3, 8]

for i in range(3):
    if list1[i]==list1[i+1]==list1[i+2]:
        print(list1[i])

5

In [18]:
# initializing list 1 
lis1 = [2, 1, 3, 5] 
  
# initializing list 1 
lis2 = [6, 4, 3] 
  
# using extend() to add elements of lis2 in lis1 
lis1.extend(lis2) 

print (lis1, end="")

[2, 1, 3, 5, 6, 4, 3]

In [52]:
#Program to write the sum of items in a list
def sum_item(list):
    sum_number=0
    for x in list:
        sum_number += x
    return sum
print(sum_item([1,2,3]))

14

In [61]:
#Python program to get the largest number from a list
my_list=[2,3,8,9,4,5,6]
#Sort the list 
my_list_sort=sorted(my_list, reverse=False)
#Length of the list
len(sorted(my_list, reverse=False))
#Dislpay the largest element
my_list_sort[len(sorted(my_list, reverse=False))-1]

9

In [75]:
#Write a program to remove duplicates from the list

#Approach 1 , using empty list

my_list=[1,2,3,4,1,3,2]

list_init=[]
for x in my_list:
    if x not in list_init:
        list_init.append(x)
print(list_init)

[1, 2, 3, 4]

In [3]:

#Approac 2 using set

my_list=[1,2,3,4,1,3,2]
list(set(my_list))

[1, 2, 3, 4]

In [69]:
#Write a Python program to shuffle and print a specified list.

import random
dice=[1,2,3,4,5,6]

random.shuffle(dice)

print(dice)

[1, 4, 2, 3, 5, 6]

In [10]:
#Dictionary

dict={'Name':'test','Age':10,'Class':5}
dict['Name']

dict.values() #this will display the values in the dictionary

dict.keys()# This will display the keys in the dictionary

dict2={'Sex':'Female'}

dict.update(dict2) #This will update the values new key value pair in the dictionary 

dict

{'Name': 'test', 'Age': 10, 'Class': 5, 'Sex': 'Female'}